<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>博客首页</title>
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
        <h1>博客首页</h1>
        <img src="images/doge.gif" alt="">
        <div class="blog-new">
            <label for="">
                博文标题
                <input id="id-input-title" type="text" value="">
            </label>
            <br>
            <label for="">
                博文作者
                <input id="id-input-author" type="text" value="">
            </label>
            <br>
            <label for="content">
                博文内容
                <input id="id-input-content" type="text" value="">
            </label>
            <br>
            <label for="">
                主人密码
                <input id="id-input-mima" type="text" value="">
            </label>
            <br>
            <button id="id-button-submit">发表新博文</button>
        </div>
        <div class="gua-blogs"></div>
        <script src="js/blog_main.js"></script>
    </body>
</html>
